{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}
    {{ parent() }}

    {% set menuItemLabel = "matheusGontijo.fastOrder.navigation.label"|trans %}

    <a class="nav-link main-navigation-link{% if activeRoute is same as('frontend.matheusGontijo.fastOrder.index.page') %} active{% endif %}"
        href="{{ path('frontend.matheusGontijo.fastOrder.index.page') }}"
        itemprop="url"
        title="{{ menuItemLabel|striptags }}">
        <div class="main-navigation-link-text">
            <span itemprop="name">{{ menuItemLabel|sw_sanitize }}</span>
        </div>
    </a>
{% endblock %}
