{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1 class="mt-5">{{ "matheusGontijo.fastOrder.index.title"|trans }}</h1>

    <!-- of course this one I'll not be added to translation, as it supposed very likely to be pulled from database -->
    <h5 class="mt-3 mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Aliquam sem et tortor consequat. Id velit ut tortor pretium. Et malesuada fames ac turpis egestas
        maecenas. Sit amet mattis vulputate enim nulla aliquet. Elementum facilisis leo vel fringilla est ullamcorper.
    </h5>

    <form method="post" action="{{ path('frontend.matheusGontijo.fastOrder.index.save') }}">
        <div class="container g-0 mb-5">
            <div class="row mb-3">
                <div class="col-3"><strong class="h4">{{ "matheusGontijo.fastOrder.index.productNumber"|trans }}</strong></div>
                <div class="col-1"><strong class="h4">{{ "matheusGontijo.fastOrder.index.qty"|trans }}</strong></div>
            </div>

            {% for i in 0..maxProductFields %}
            <div class="row mb-3 g-3">
                <div class="col-3">
                    <input type="text"
                           class="form-control{% if formViolations.getViolations('/productNumber' ~ i) is not empty %} is-invalid{% endif %}"
                           name="items[{{ i }}][productNumber]"
                           value="{{ data.get('items').get(i).get('productNumber') }}"
                    />
                    {% if formViolations.getViolations('/productNumber' ~ i) is not empty %}
                        {% for violation in formViolations.getViolations('/productNumber' ~ i) %}
                            <div class="invalid-feedback">
                                {{ violation.message|trans }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-1">
                    <input type="text"
                           class="form-control{% if formViolations.getViolations('/qty' ~ i) is not empty %} is-invalid{% endif %}"
                           name="items[{{ i }}][qty]"
                           value="{{ data.get('items').get(i).get('qty') }}"
                    />
                    {% if formViolations.getViolations('/qty' ~ i) is not empty %}
                        {% for violation in formViolations.getViolations('/qty' ~ i) %}
                            <div class="invalid-feedback">
                                {{ violation.message|trans }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">{{ "matheusGontijo.fastOrder.index.submitButton"|trans }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
